@import "../abstracts/variables";
@import "../abstracts/mixins";

footer {
  background-color: $primary-color;
  font-size: 0.8rem;
  color: #ffffff;
  padding: 1rem;
  margin-top: 1.5rem;
  @include respond-to('lg') {
    padding: 1rem 10rem;
  }
  .footer-texts {
    display: flex;
    justify-content: space-around;
    @include respond-to('lg') {
      justify-content: space-between;
    }
    .footer-shop, .footer-infos, .footer-contact {
      flex-grow: unset;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      @include respond-to('lg') {
        flex-grow: 1;
      }
    }
    .footer-logo {
      display: none;
      flex-grow: unset;
      @include respond-to('lg') {
        display: block;
        flex-grow: 1;
      }
      @include respond-to('xxl') {
        flex-grow: 2;
      }
      .footer-description {
        margin-top: 2.25rem;
      }
    }
    .footer-contact {
      display: none;
      @include respond-to('sm') {
        display: block;
      }
    }
    h3 {
      font-size: 0.85rem;
      margin-bottom: 2rem;
    }
    ul {
      list-style: none;
      li:nth-child(n+1) {
        margin-top: 1rem;
      }
    }
  }
  .footer-social {
    display: flex;
    justify-content: center;
    padding-top: 2.8rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ffffff;
    @include respond-to('lg') {
      justify-content: flex-start;
      margin-top: -2rem;
    }
    svg:last-child {
      margin-left: 1rem;
    }
  }
  .footer-copyright {
    font-size: 0.75rem;
    text-align: center;
    font-weight: lighter;
    margin-top: 1rem;
  }
}
