header {
  padding: 0.5rem;
  font-size: 13px;
  @include respond-to('xs') {
    padding: 1rem;
  }
  @include respond-to('md') {
    padding: 2rem;
  }
  @include respond-to('xl') {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include respond-to('xxl') {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .nav-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-burger {
      color: $primary-color;
      padding: 0.5rem;
      @include respond-to('lg') {
        display: none;
      }
    }
    .logo {
      max-width: 150px;
      width: inherit;
      text-align: center;
      @include respond-to('xs') {
        width: 100%;
      }
    }
    .header-search-container {
      display: flex;
      flex-grow: 1;
      @include respond-to('sm') {
        padding-left: 1rem;
      }
      @include respond-to('lg') {
        margin-left: 1rem;
        margin-right: 1rem;
      }
      input,
      button {
        border: 3px solid $primary-color;
        height: 2.5rem;
        border-radius: 0.5rem;
      }
      input {
        width: 95%;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
          outline: $primary-color;
        }
      }
      button {
        width: 2.5rem;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
      }
    }
    ul {
      @include respond-to('lg') {
        justify-content: flex-end;
      }
      display: flex;
      li {
        list-style: none;
        color: $primary-color;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include respond-to('sm') {
          padding-left: 0.5rem;
        }
        @include respond-to('md') {
          padding-left: 2rem;
        }
        &:hover {
          cursor: pointer;
          .icon-fill {
            fill: $primary-color
          }
        }
        div {
          display: none;
          @include respond-to('lg') {
            display: block;
          }
        }
      }
    }
  }
  .nav-secondary {
    .nav-title {
      text-align: center;
      font-family: $font-title;
      font-weight: 600;
      color: $primary-color;
      font-size: 1.5rem;
      margin-top: 1rem;
      @include respond-to('lg') {
        margin-bottom: 1rem;
      }
      @include respond-to('xl') {
        margin-top: 0;
      }
    }
    .nav-pop-culture-container {
      display: none;
      @include respond-to('lg') {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      a {
        text-decoration: none;
        flex-basis: 400px;
        &:hover {
          .nav-pop-culture {
            background-color: $primary-color;
            border-radius: 0.5rem;
            img {
              filter: contrast(0.5) brightness(0) invert(1);
            }
            .nav-pop-culture-title {
              color: #ffffff;
            }
          }
        }
      }
      hr {
        height: 38px;
        width: 1px;
      }
      .nav-pop-culture {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        padding: 0.5rem;
        &:nth-child(n + 1) {
          margin-left: 0.5rem;
        }
        &:nth-child(n-1) {
          margin-right: 0.5rem;
          @include respond-to('xl') {
            margin-right: 1rem;
          }
        }
        .nav-pop-culture-title {
          line-height: 1.25rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
