@import '../abstracts/variables';
@import '../abstracts/mixins';

.section-title {
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    @include respond-to('xs') {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    @include respond-to('sm') {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    @include respond-to('lg') {
        display: none;
    }
    .filters-button {
        margin-left: 1rem;
    }
}

.sidebar-container {
    padding: 1rem;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    width: 90vw;
    margin-left: -3000px;
    transition: margin 0.5s;
    border: 3px solid $primary-color;
    border-radius: 0.5rem;
    &.active {
        margin-left: 0;
    }
}

.section-catalog {
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 'products products';
    margin-bottom: 1.6rem;
    @include respond-to('lg') {
        grid-template-areas: 'filters products';
    }
    .filters {
        display: none;
        grid-area: filters;
        @include respond-to('lg') {
            display: block;
            padding-right: 1rem;
            font-size: 0.875rem;
        }
    }
    .products {
        grid-area: products;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 19px 13px;
        @include respond-to('xs') {
            grid-template-columns: 1fr 1fr;
        }
        @include respond-to('md') {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include respond-to('lg') {
            grid-template-columns: 1fr 1fr;
        }
        @include respond-to('xl') {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include respond-to('xxxl') {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.section-pagination,
.section-search {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr;
    grid-template-areas: 'right';
    @include respond-to('lg') {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 'left right';
    }
    .left {
        grid-area: left;
    }
    .right {
        grid-area: right;
    }
}

.section-pagination {
    .right {
        hr {
            border-width: 1px 0 0 0;
        }
        .pagination-container {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
        }
    }
}

.section-search {
    .right {
        .associated-searches-container {
            display: flex;
            flex-wrap: wrap;
            > div {
                margin-top: 1rem;
                margin-right: 0.3rem;
                margin-left: 0.3rem;
                padding: 1rem;
            }
        }
    }
}
