@import "../abstracts/variables";
@import "../abstracts/mixins";

.text-container {
  text-align: center;
  margin-bottom: 1.2rem;
  p {
    margin-top: 1.2rem;
  }
}

.section-connection {
  font-size: 0.8rem;
  margin: 5rem 0;
  @include respond-to('xs') {
    font-size: 1rem;
  }
}
.signin-remindme {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  @include respond-to('md') {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  a {
    display: inline-block;
    margin-bottom: 1rem;
    @include respond-to('md') {
      margin-bottom: unset;
    }
  }
}

.signin-noaccount-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  @include respond-to('sm') {
    flex-direction: row;
    justify-content: space-around;
  }
  .signin-noaccount {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
  }
  a {
    display: inline-block;
    margin-top: 0.7rem;
    @include respond-to('sm') {
      margin-top: unset;
    }
  }
}
