@import '../abstracts/variables';
@import '../abstracts/mixins';

.slider {
  width: 100%;
  height: 200px;
  position: relative;
  @include respond-to('sm') {
    height: 300px;
  }
  @include respond-to('md') {
    height: 400px;
  }
  img {
    border-radius: 0.5rem;
  }
}

.popculture-container {
  margin-top: 1.125rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 0.75rem;
  @include respond-to('md') {
    gap: 2.2rem 3.125rem;
  }
  @include respond-to('xl') {
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.2rem 3.125rem;
    padding: 0 8rem;
  }
  .popculture {
    color: $primary-color;
    .popculture-title {
      font-family: $font-title;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      @include respond-to('sm') {
        margin-bottom: 0.5rem;
      }
      @include respond-to('md') {
        font-size: 1.5rem;
        text-align: left;
      }
      @include respond-to('xl') {
        text-align: center;
      }
      @include respond-to('xxl') {
        font-size: 1.25rem;
        text-align: left;
      }
      @include respond-to('xxxl') {
        font-size: 1.60rem;
      }
      span::before {
        content: '\A';
        white-space: pre;
        @include respond-to('sm') {
          content: unset;
          white-space: unset;
        }
        @include respond-to('xl') {
          content: '\A';
          white-space: pre;
        }
        @include respond-to('xxl') {
          content: unset;
          white-space: unset;
        }
      }
    }
    .popculture-text {
      display: none;
      @include respond-to('md') {
        display: block;
        margin-top: 1.5rem;
      }
    }
  }
}

.section-reinsurance {
  @include respond-to('md') {
    padding-left: 0;
    padding-right: 0;
  }
  .reinsurance-container {
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
    padding: 1rem 2rem 1rem 2rem;
    @include respond-to('xl') {
      padding-left: 10rem;
      padding-right: 10rem;
    }
    @include respond-to('xxl') {
      padding-left: 16rem;
      padding-right: 16rem;
    }
    margin-top: 2rem;
    @include respond-to('md') {
      background-color: $primary-color;
      color: #ffffff;
    }
    h2 {
      font-size: 1.25rem;
      font-family: $font-title;
      font-weight: 600;
      text-align: center;
    }
    .reinsurances {
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem 0.75rem;
      @include respond-to('md') {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }
      @include respond-to('xxxl') {
        padding-left: 5rem;
        padding-right: 5rem;
        gap: 1rem 6.8rem;
      }
      .reinsurance {
        text-align: left;
        .reinsurance-icon {
          display: inline-flex;
          background-color: $primary-color;
          padding: 1rem;
          border-radius: 0.5rem;
          @include respond-to('md') {
            background-color: #ffffff;
          }
          img {
            filter: contrast(0.5) brightness(0) invert(1);
            @include respond-to('md') {
              filter: unset;
            }
          }
        }
        .reinsurance-title {
          font-size: 0.875rem;
          font-weight: bold;
          margin-top: 1rem;
        }
        .reinsurance-text {
          font-size: 0.75rem;
        }
      }
    }
  }
}

.section-products {
  padding: 0.625rem;
  @include respond-to('xl') {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include respond-to('xxl') {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  @include respond-to('xxxl') {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .products-container {
    margin-top: 1rem;
    .product {
      margin: 0 0.5rem;
    }
  }
}
