@import '../abstracts/mixins';

.text-container {
  text-align: center;
  margin-bottom: 1.2rem;
  p {
    margin-top: 1.2rem;
  }
}

.section-inscription {
  font-size: 0.8rem;
  margin: 5rem 0;
  @include respond-to('xs') {
    font-size: 1rem;
  }
}

.register-cgu {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.register-account-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  @include respond-to('xs') {
    flex-direction: row;
    justify-content: space-around;
  }
  .register-account {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond-to('xs') {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  a {
    display: inline-block;
    margin-top: 0.7rem;
    @include respond-to('xs') {
      margin-top: unset;
    }
  }
}

//.register-account {
//  text-align: center;
//  margin-top: 1rem;
//  display: flex;
//  justify-content: space-between;
//  @include respond-to('xs') {
//    justify-content: center;
//  }
//}

//.register-redirect {
//  font-weight: bold;
//  @include respond-to('xs') {
//    margin-left: 1rem;
//  }
//}
