@import '../base/fonts';

/// Font pour le texte
/// @type List
$font-primary: 'Poppins', sans-serif !default;

/// Font pour les titres
/// @type List
$font-title: 'BC Alphapipe', sans-serif !default;

/// Couleur Primaire
/// @type Color
$primary-color: #961fd4;

/// Couleur des input disabled
/// @type Color
$disabled-color: #959495;

/// Breakpoints map
/// @prop {String} keys - Les clés sont les identifiants mappés à une longueur donnée
/// @prop {Map} values - Les valeurs sont les breakpoints exprimés en pixels
$breakpoints: (
    'xs': (
        min-width: 375px,
    ),
    'sm': (
        min-width: 576px,
    ),
    'md': (
        min-width: 768px,
    ),
    'lg': (
        min-width: 992px,
    ),
    'xl': (
        min-width: 1200px,
    ),
    'xxl': (
        min-width: 1400px,
    ),
    'xxxl': (
        min-width: 1600px,
    ),
    'xxxxl': (
        min-width: 1920px,
    ),
) !default;
