@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: #ffffff;
  .icon {
    .icon-stroke {
      fill: #ffffff;
    }
  }
  .text {
    @include respond-to('md') {
      margin-left: 0.5rem;
    }
  }
}
