@import '../abstracts/variables';

.container {
    display: flex;
    align-items: center;
    box-shadow: 0 3px 7px #00000029;
    border-radius: 7px;
    .text {
        margin-left: 1rem;
        text-align: center;
    }
}
