@import '../abstracts/variables';

.container {
    display: flex;
    > div {
        margin: 0 0.25rem;
        background-color: $primary-color;
        color: #ffffff;
        border-radius: 0.5rem;
        padding: 0.2rem 0.7rem;
        &.dots {
            background-color: #ffffff;
            color: $primary-color;
        }
    }
}
