@import '../abstracts/variables';
@import '../abstracts/mixins';

.product {
    position: relative;
    width: 100%;
    max-width: 273px;
    margin-left: auto;
    margin-right: auto;
    .image-container {
        cursor: pointer;
        border: 1px solid $primary-color;
        border-radius: 0.5rem;
        padding: 1.2rem;
        max-width: 273px;
        max-height: 262px;
        position: relative;
        &:hover {
            .image-placeholder {
                display: flex;
            }
            .popculture-container {
                animation: slide-hover-pc-logo 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .placeholder-text {
                animation: slide-hover-pc-text 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
        }
        .image-placeholder {
            display: none;
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            max-width: 273px;
            max-height: 262px;
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            background-color: rgba(255, 255, 255, 0.85);
            border-radius: 0.5rem;
            .placeholder-text {
                display: flex;
                font-size: 0.8rem;
                @include respond-to('md') {
                    font-size: 1rem;
                }
                span {
                    margin-left: 1rem;
                }
            }
            .placeholder-button {
                width: 6.7rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                border-radius: 0.5rem;
                border: 1px solid $primary-color;
                padding: 0.2rem;
                color: #ffffff;
                margin-top: 1rem;
                cursor: pointer;
            }
        }
        .popculture-container {
            position: absolute;
            right: 0.25rem;
            top: 0;
        }
    }
    .name {
        font-size: 0.69rem;
        @include respond-to('xxl') {
            font-size: 0.85rem;
        }
        @include respond-to('xxxl') {
            font-size: 1rem;
        }
    }
    .infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.69rem;
        @include respond-to('xxl') {
            font-size: 0.85rem;
        }
        @include respond-to('xxxl') {
            font-size: 1rem;
        }
        .price {
            font-size: 0.74rem;
            @include respond-to('md') {
                font-size: 0.8rem;
            }
            @include respond-to('xxxl') {
                font-size: 1.2rem;
            }
        }
        > div:nth-child(-n + 3) {
            margin-right: 0.5rem;
            @include respond-to('xs') {
                margin-right: 0.25rem;
            }
        }
        > div:nth-child(4) {
            flex-grow: 2;
        }
    }
}

@keyframes slide-hover-pc-logo {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-190px) translateY(96px);
        opacity: 0;
    }
}

@keyframes slide-hover-pc-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include respond-to('xs') {
    @keyframes slide-hover-pc-logo {
        0% {
            transform: translateX(0) translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-170px) translateY(80px);
            opacity: 0;
        }
    }

    @keyframes slide-hover-pc-text {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@include respond-to('md') {
    @keyframes slide-hover-pc-logo {
        0% {
            transform: translateX(0) translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-190px) translateY(96px);
            opacity: 0;
        }
    }

    @keyframes slide-hover-pc-text {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
