@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../public/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'BC Alphapipe';
  src: url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-400.woff2') format('woff2'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-400.woff') format('woff'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-400.ttf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'BC Alphapipe';
  src: url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-400.woff2') format('woff2'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-400.woff') format('woff'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-400.ttf') format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'BC Alphapipe';
  src: url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-600.woff2') format('woff2'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-600.woff') format('woff'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-600.ttf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'BC Alphapipe';
  src: url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-600.woff2') format('woff2'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-600.woff') format('woff'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-600.ttf') format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'BC Alphapipe';
  src: url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-700.woff2') format('woff2'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-700.woff') format('woff'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-regular-700.ttf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'BC Alphapipe';
  src: url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-700.woff2') format('woff2'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-700.woff') format('woff'),
    url('../../public/fonts/BCAlphapipe/bc-alphapipe-italic-700.ttf') format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
}
