@import '../../abstracts/variables';

.checkbox {
    display: flex;
    align-items: center;
    color: $primary-color;
    &--disabled {
        color: $disabled-color;
    }
    .label {
        color: #000000;
        margin-left: 0.5rem;
    }
}

.control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    svg {
        transition: transform 0.1s ease-in 25ms;
        transform: scale(0);
        transform-origin: bottom left;
    }
}

.input {
    display: grid;
    //grid-template-areas: 'checkbox';
    font-size: 1.5rem;
    > * {
        grid-area: checkbox;
    }
    input {
        opacity: 0;
        width: 1em;
        height: 1em;

        &:focus + .control {
            box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
        }

        &:checked {
            + .control {
                background-color: $primary-color;
            }
            + .control svg {
                transform: scale(1);
                color: #ffffff;
            }
        }

        &:disabled + .control {
            color: #959495;
        }
    }
}
