@import '../../abstracts/variables';

.form-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .auth-button {
    width: 100%;
    max-width: 450px;
    margin-top: 1rem;
    &:hover {
      background-color: #ffffff;
      color: $primary-color;
    }
  }
}
