@import '../../abstracts/variables';

.auth-input {
  width: 100%;
  max-width: 450px;
  border: 2px solid $primary-color;
  border-radius: 0.5rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: $primary-color;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $primary-color;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $primary-color;
  }
}
