@import '../../../abstracts/variables';

.filter {
    border: 1px solid #e6e6e6;
    padding: 1rem;
    min-height: 54px;
    margin-bottom: 1rem;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            color: $primary-color;
            font-weight: bold;
        }
        .arrow {
            display: flex;
            transition: all 0.5s;
        }
    }
    &.active {
        .arrow {
            transform: rotate(180deg);
        }
        .content {
            display: block;
        }
    }
    .content {
        display: none;
        margin-left: auto;
        margin-right: auto;
        > label {
            margin-top: 1rem;
        }
    }
    &.center {
        display: flex;
        flex-direction: column;
    }
}

.scrollable .content {
    overflow: scroll;
    height: 350px;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        width: 6px;
    }
    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        margin-right: 10px;
        border: 1px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, 0.3);
    }
}
