@import 'styles/abstracts/mixins';

.container-title {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    .cancel-icon {
        @include respond-to('lg') {
            display: none;
        }
    }
}

.price-container {
    padding: 2rem;
}
