@import 'abstracts/variables';
@import 'abstracts/mixins';
@import './layout/header';
@import './layout/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
a {
    font-family: $font-primary;
}

a {
    text-decoration: none;
    color: $primary-color;
    &:hover {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-title;
    color: $primary-color;
    font-weight: bold;
}

main section {
    padding: 0.5rem;
    @include respond-to('xs') {
        padding: 0 1rem;
    }
    @include respond-to('sm') {
        padding: 0 2rem;
    }
    @include respond-to('xl') {
        padding: 0 5rem;
    }
    @include respond-to('xxl') {
        padding: 0 8rem;
    }
}

.icon-fill {
    fill: none;
}
.icon-stroke {
    fill: $primary-color;
}

.btn {
    border: 2px solid $primary-color;
    border-radius: 0.5rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: $primary-color;
    margin-top: 1rem;
    cursor: pointer;
}

hr {
    border: 0 solid $primary-color;
}

input {
    accent-color: $primary-color;
}
